body {
    margin: 0;
    padding: 0; 
}


.bg {
    background-image: url("wallpaper.jpg");
    background-size: cover; /* Ensure the image covers the entire area */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-position: center; /* Center the image */
    height: 3000px; /* Set a specific height */
    width: 2143px; /* Set a specific width */
}

svg {
    width: 60%;
    height: 900px;
    display: block;
    margin: 9 auto;
}

text {
    font-size: 44px;
    fill: #FF4F00;
    font: bold;
}

